@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

.footer {
  color: $color-white;
  background-color: $color-black;
  padding-block: 3rem;
}

.footer__container {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
  }
}

.footer__logo {
  height: 2rem;
  width: auto;
}

.footer__copyright {
  text-align: center;
  font-size: $text-sm;
}
